/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db

# databases should be what ever you like ;)
/app/database/files

# Exclude unwanted storage data
/app/storage/cache
/app/storage/logs
/app/storage/sessions
/app/storage/views